<!DOCTYPE html>
<html>
<head>
    <title>Hibernate|officalstudentwebsite</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="text/javascript" src="javascript.js"></script>
    <link type="text/css" rel="stylesheet" href="style.css">
</head>
<style>
    hr { width:100%; height:1px;}
</style>
</head>
<body>

<img src="https://design.jboss.org/hibernate/logo/final/hibernate_logo_whitebkg_stacked_256px.png" height="82" width="82">

<div class="navbar">
    <a href="index">Home</a>
    <div class="subnav">
        <button class="subnavbtn">Information </button>
        <div class="subnav-content">
            <a href="info">Information</a>
        </div>
    </div>
    <div class="subnav">
        <button class="subnavbtn">About</button>
        <div class="subnav-content">
            <a href="about">About</a>
        </div>
    </div>
</div>

<div class="block_1"></div> <hr />
<strong><p style="color:green">creators contacts</p></strong>

<p style="color:green"><strong style="color:green;">Name.</strong> Eric </p>
<p style="color:green"><strong style="color:green;">Last Name.</strong> Ter-Poghosian</p>
<p style="color:green"><strong style="color:green;">Age.</strong>13</p>
<p style="color:green"><strong style="color:green;">Country.</strong>Armenia</p>
<p style="color:green"><strong style="color:green;">City/Village.</strong>Charentsavan</p>
<p style="color:green"><strong style="color:green;">Phone Number.</strong>+3747756****</p>

<img src="https://scontent.fevn2-1.fna.fbcdn.net/v/t1.0-9/s960x960/48357247_2071008932957876_4033608674793488384_o.jpg?_nc_cat=109&_nc_ohc=LSuNblQ5FycAX_bCOZB&_nc_ht=scontent.fevn2-1.fna&oh=164cbf5afb3dbd501c0dbb09cf65ef8e&oe=5ECB7482"height="102" weight="102" align="left">

<div class="block_1"></div> <hr />

<p style="color:green"><strong style="color:green;">Name.</strong> Gor </p>
<p style="color:green"><strong style="color:green;">Last Name.</strong> Hovsepyan</p>
<p style="color:green"><strong style="color:green;">Age.</strong>16</p>
<p style="color:green"><strong style="color:green;">Country.</strong>Armenia</p>
<p style="color:green"><strong style="color:green;">City/Village.</strong>Charentsavan</p>
<p style="color:green"><strong style="color:green;">Phone Number.</strong>+3747765****</p>

<img src="https://scontent.fevn2-1.fna.fbcdn.net/v/t1.0-9/s960x960/73524632_734244000416188_2472986252857573376_o.jpg?_nc_cat=100&_nc_ohc=mDba7dWUU4MAX-C6kH-&_nc_ht=scontent.fevn2-1.fna&oh=8ad071007f6e036af63551c556443b84&oe=5E92312C"height="102" weight="102" align="left">

<div class="block_1"></div> <hr />
<p style="font-size: 10px; color: black;">Eric&Gor</p>
<p style="font-size: 10px; color: black;">phone1`+3747756****</p>
<p style="font-size: 10px; color: black;">phone2`+3747765****</p>
</body>
</html>