<!DOCTYPE html>
<html>
<head>
    <title>Hibernate|officalstudentwebsite</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="text/javascript" src="javascript.js"></script>
    <link type="text/css" rel="stylesheet" href="style.css">
    <style>
        hr { width:100%; height:1px;}
    </style>
</head>
<body>

<img src="https://design.jboss.org/hibernate/logo/final/hibernate_logo_whitebkg_stacked_256px.png" height="82" width="82">

<div class="navbar">
    <a href="home.html">Home</a>
    <div class="subnav">
        <button class="subnavbtn">Information </button>
        <div class="subnav-content">
            <a href="info.html">Information</a>
        </div>
    </div>
    <div class="subnav">
        <button class="subnavbtn">About</button>
        <div class="subnav-content">
            <a href="about.html">About</a>
        </div>
    </div>
</div>

<div class="block_1"></div> <hr />

<div class="slideshow-container">

    <div class="mySlides fade">
        <div class="numbertext">1 / 3</div>
        <img src="https://repository-images.githubusercontent.com/158701802/87791800-877e-11e9-8fde-0ae5daacf411" style="width:100%">
        <div class="text">Caption Text</div>
    </div>

    <div class="mySlides fade">
        <div class="numbertext">2 / 3</div>
        <img src="https://www.javatpoint.com/images/hibernate/architecture.jpg" style="width:100%">
        <div class="text">Caption Two</div>
    </div>

    <div class="mySlides fade">
        <div class="numbertext">3 / 3</div>
        <img src="https://phauer.com/blog/2017/1005-do-it-yourself-orm-alternative-hibernate-drawbacks/featured-image-large.png" style="width:100%">
        <div class="text">Caption Three</div>
    </div>

    <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
    <a class="next" onclick="plusSlides(1)">&#10095;</a>

</div>
<br>

<div style="text-align:center">
    <span class="dot" onclick="currentSlide(1)"></span>
    <span class="dot" onclick="currentSlide(2)"></span>
    <span class="dot" onclick="currentSlide(3)"></span>
</div>


<a id="back2Top" title="Back to top" href="#">&#10148;</a>
</div>
<h1>Hello! this is a hibernate student website</h1>
<h2>in this website you will informated from "Hibernate"</h2>

<h3>Correct information from Hibernate ORM</h3>

<img src="https://docs.jboss.org/hibernate/orm/5.4/userguide/html_single/images/architecture/data_access_layers.svg"height="202" weight="202" align="right">

<h4>Object/Relational Mapping
    Hibernate ORM enables developers to more easily write applications whose data outlives the application process. As an Object/Relational Mapping (ORM) framework, Hibernate is concerned with data persistence as it applies to relational databases (via JDBC). Unfamiliar with the notion of ORM? Read here.

    JPA Provider
    In addition to its own "native" API, Hibernate is also an implementation of the Java Persistence API (JPA) specification. As such, it can be easily used in any environment supporting JPA including Java SE applications, Java EE application servers, Enterprise OSGi containers, etc.

    Idiomatic persistence
    Hibernate enables you to develop persistent classes following natural Object-oriented idioms including inheritance, polymorphism, association, composition, and the Java collections framework. Hibernate requires no interfaces or base classes for persistent classes and enables any class or data structure to be persistent.</h4>

<h4>you will  informated very nice from Hibernate ORM this website
    |	Click in this link!!</h4>

<a href="https://hibernate.org/orm/">Hibernate ORM!</a>
<div class="block_1"></div> <hr />

<h5>Hibernate Tools</h5>

<p style="color:green; font-size: 24px;">Hibernate Tools is a toolset for Hibernate implemented as an integrated suite of Eclipse plugins, together with a unified Ant task for integration into the build cycle. Hibernate Tools is a core component of JBoss Tools and hence also part of JBoss Developer Studio.
    The following features are available within Eclipse.</p>

<br><p style="font-size: 35px; color: green;">Mapping Editor</p>

<img  border="0" src="https://static.jboss.org/hibernate/images/tools/hibernatetools_screen1.gif"height="202" weight="202" align="right"><p style="color:green; font-size: 19.5px; ">An editor for Hibernate XML mapping files, supporting auto-completion and syntax highlighting. The editor even supports semantic auto-completion for class names, property/field names, table names and column names</p>

<br><p style="font-size: 35px; color: green;">Console</p>

<p style="color:green; font-size: 19.5px; ">The Hibernate Console perspective allows you to configure database connections, provides visualization of classes and their relationships and allows you to execute HQL queries interactively against your database and browse the query results.</p>

<div class="block_1"></div> <hr />

<p style="font-size: 10px; color: black;">Eric&Gor</p>
<p style="font-size: 10px; color: black;">phone1`+3747756****</p>
<p style="font-size: 10px; color: black;">phone2`+3747765****</p>

</body>
</html><!DOCTYPE html>
<html>
<head>
    <title>Hibernate|officalstudentwebsite</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="text/javascript" src="javascript.js"></script>
    <link type="text/css" rel="stylesheet" href="style.css">
    <style>
        hr { width:100%; height:1px;}
    </style>
</head>
<body>

<img src="https://design.jboss.org/hibernate/logo/final/hibernate_logo_whitebkg_stacked_256px.png" height="82" width="82">

<div class="navbar">
    <a href="index">Home</a>
    <div class="subnav">
        <button class="subnavbtn">Information </button>
        <div class="subnav-content">
            <a href="info">Information</a>
        </div>
    </div>
    <div class="subnav">
        <button class="subnavbtn">About</button>
        <div class="subnav-content">
            <a href="aboutl">About</a>
        </div>
    </div>
</div>

<div class="block_1"></div> <hr />

<div class="slideshow-container">

    <div class="mySlides fade">
        <div class="numbertext">1 / 3</div>
        <img src="https://repository-images.githubusercontent.com/158701802/87791800-877e-11e9-8fde-0ae5daacf411" style="width:100%">
        <div class="text">Caption Text</div>
    </div>

    <div class="mySlides fade">
        <div class="numbertext">2 / 3</div>
        <img src="https://www.javatpoint.com/images/hibernate/architecture.jpg" style="width:100%">
        <div class="text">Caption Two</div>
    </div>

    <div class="mySlides fade">
        <div class="numbertext">3 / 3</div>
        <img src="https://phauer.com/blog/2017/1005-do-it-yourself-orm-alternative-hibernate-drawbacks/featured-image-large.png" style="width:100%">
        <div class="text">Caption Three</div>
    </div>

    <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
    <a class="next" onclick="plusSlides(1)">&#10095;</a>

</div>
<br>

<div style="text-align:center">
    <span class="dot" onclick="currentSlide(1)"></span>
    <span class="dot" onclick="currentSlide(2)"></span>
    <span class="dot" onclick="currentSlide(3)"></span>
</div>


<a id="back2Top" title="Back to top" href="#">&#10148;</a>
</div>
<h1>Hello! this is a hibernate student website</h1>
<h2>in this website you will informated from "Hibernate"</h2>

<h3>Correct information from Hibernate ORM</h3>

<img src="https://docs.jboss.org/hibernate/orm/5.4/userguide/html_single/images/architecture/data_access_layers.svg"height="202" weight="202" align="right">

<h4>Object/Relational Mapping
    Hibernate ORM enables developers to more easily write applications whose data outlives the application process. As an Object/Relational Mapping (ORM) framework, Hibernate is concerned with data persistence as it applies to relational databases (via JDBC). Unfamiliar with the notion of ORM? Read here.

    JPA Provider
    In addition to its own "native" API, Hibernate is also an implementation of the Java Persistence API (JPA) specification. As such, it can be easily used in any environment supporting JPA including Java SE applications, Java EE application servers, Enterprise OSGi containers, etc.

    Idiomatic persistence
    Hibernate enables you to develop persistent classes following natural Object-oriented idioms including inheritance, polymorphism, association, composition, and the Java collections framework. Hibernate requires no interfaces or base classes for persistent classes and enables any class or data structure to be persistent.</h4>

<h4>you will  informated very nice from Hibernate ORM this website
    |	Click in this link!!</h4>

<a href="https://hibernate.org/orm/">Hibernate ORM!</a>
<div class="block_1"></div> <hr />

<h5>Hibernate Tools</h5>

<p style="color:green; font-size: 24px;">Hibernate Tools is a toolset for Hibernate implemented as an integrated suite of Eclipse plugins, together with a unified Ant task for integration into the build cycle. Hibernate Tools is a core component of JBoss Tools and hence also part of JBoss Developer Studio.
    The following features are available within Eclipse.</p>

<br><p style="font-size: 35px; color: green;">Mapping Editor</p>

<img  border="0" src="https://static.jboss.org/hibernate/images/tools/hibernatetools_screen1.gif"height="202" weight="202" align="right"><p style="color:green; font-size: 19.5px; ">An editor for Hibernate XML mapping files, supporting auto-completion and syntax highlighting. The editor even supports semantic auto-completion for class names, property/field names, table names and column names</p>

<br><p style="font-size: 35px; color: green;">Console</p>

<p style="color:green; font-size: 19.5px; ">The Hibernate Console perspective allows you to configure database connections, provides visualization of classes and their relationships and allows you to execute HQL queries interactively against your database and browse the query results.</p>

<div class="block_1"></div> <hr />

<p style="font-size: 10px; color: black;">Eric&Gor</p>
<p style="font-size: 10px; color: black;">phone1`+3747756****</p>
<p style="font-size: 10px; color: black;">phone2`+3747765****</p>

</body>
</html>